<form id="login" class="" method="post">
  <input type="email" name="name" value="" placeholder="Tu email">
  <input type="password" name="password" value="" placeholder="Contraseña!">
  <input type="submit" value="Login">
</form>

<script type="">
